*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background-color: rgb(120, 119, 119);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*Inicio de header*/
.header{
    width: 80%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 8px;
    border-radius: 10px;
}

.tituloheader{
    margin: 50px;
    color: rgb(9, 9, 9);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    font-size: 22px;
}

.logo{
    border-radius: 10px;
}


/*Inicio de nav*/
.nav{
    width: 80%;
    height: 48px;
    background-color: rgb(158, 192, 58);
    border-radius: 10px;
}

.barnav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.menu{
    width: 25%;
    height: 100%;
    background-color: rgb(243, 233, 233);
    color: rgb(10, 10, 10);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.menu:hover{
    background-color: rgb(61, 53, 53);
    color: rgb(14, 14, 14);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#enlace{
    text-decoration: none;
    color: rgb(14, 14, 14);
}

#enlace:hover{
    text-decoration: none;
    color: rgb(241, 245, 247);
}

/*Inicio de acercade*/
.acercade{
    width: 80%;
    height: 220px;
    background-color: rgb(187, 186, 197);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    border-radius: 10px;
}

.t-acercade{
    
    width: 80%;
    margin: 10px 0;
    text-align: left;

}

.p-acercade{
    width: 80%;
    text-align: justify;
    margin: 10px 0;
}

/*Inicio de experiencia*/
#experiencia{
    width: 80%;
    height: 300px;
    background-color: rgb(187, 186, 197);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    border-radius: 10px;
    
}

.t-experiencia{
    
    width: 80%;
    margin: 10px 0;
    text-align: left;

}

.p-experiencia{
    width: 80%;
    text-align: justify;
    margin: 10px 0;
}



/*Inicio de formacion*/
#formacion{
    width: 80%;
    background-color: rgb(199, 114, 184);
    
}

/*Inicio de idiomas*/
#idiomas{
    width: 80%;
    background-color: rgb(105, 126, 229);
    
}

/*Inicio de formulario*/
#formulario{
    width: 80%;
    background-color: rgb(105, 137, 77);
    
}
/*Inicio de footer*/
.footer{
    width: 100%;
    height: 100px;
    background-color: rgb(82, 170, 113);
    
}





/*Inicio de header*/